@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Medium.otf);
}

*{
	font-family: Montserrat, Helvetica, Cantarell, Segoe UI;
	padding: 0;
	margin: auto;
	color: $text-color;
}

/**
* Links
*/
a{
	text-decoration: none;
}

/**
* Parágrafos
*/
p{
	margin: $spacing-unit;
}

/**
* Tabelas
*/
table{
	border: $border-width $border-style $border-color;
}

footer{
	width: 100%;
	height: $footer-height;
	background-color: $footer-color;
	display: flex;
	justify-content: center;
}

