.rd-header{
	width: 100%;
	height: 100px;
	background-color: $header-color;
	display: flex;
	a{
		img{
			width: 50px;
			height: 50px;
		}
		display: flex;
		text-decoration: none;
		color: #ffffff;
	}
	justify-content: flex;
}

.rd-nav-horizontal{
	width: 100%;
	height: 50px;
	background-color: $nav-color;
	display: inline-flex;
	.rd-nav-item{
		display: flex;
		justify-content: center;
		a{
			color: $nav-link-color;
		}
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		padding: 0 $spacing-unit 0 $spacing-unit;
		font-size: $font-size;
		width: calc(#{$min-width} + #{$font-size});
		height: 50px;
	}
}

.rd-card-container{
	display: flex;
	justify-content: center;
	width: 100%;
	.rd-card-item{
		width: $card-width;
		height: $card-height;
		margin: calc(#{$spacing-unit} - 2px);
		font-size: calc(#{$font-size} - 4px);
		padding: 0;
		display: flex;
		.rd-card-item-img{
			position: relative;
			width: $card-width;
			height: $card-height;
		}
		.rd-card-item-desc{
			h3{
				padding-left: $spacing-unit;
			}
			opacity: 0;
			z-index: 1;
			position: absolute;
			width: $card-width;
			height: $card-height;
			@include transition(0.5s);
			&:hover{
				@include transition(0.5s);
				text-decoration: none;
				background: url('img/bg_pattern_4.png');
				opacity: 100;
			}
		}
	}
}

.rd-main-content{
	width: 100%;
	height: 100%;
	background-color: $background-color;
	display: flex;
	flex-direction: column;
	padding-top: calc(#{$spacing-unit} * 2);
	.rd-center-text{
		form{
			display: block;
			width: 400px;
			height: auto;
			input{
				width: 400px;
				margin-bottom: $spacing-unit;
			}
		}
		a{
			color: darken($link-color, 20%);
		}
		min-height: calc(#{$footer-height} * 5);
		max-width: calc(#{$footer-height} * 5);
		margin-right: auto;
		margin-left: auto;
	}
}