.rd-header{
	width: 100%;
	height: 100px;
	background-color: $header-color;
	display: flex;
	a{
		img{
			width: 50px;
			height: 50px;
		}
		display: flex;
		text-decoration: none;
		color: #ffffff;
	}
	justify-content: flex;
	#vert-menu-btn{
		display: none;
	}
}

.rd-nav-horizontal{
	width: 100%;
	height: 50px;
	background-color: $nav-color;
	display: inline-flex;
	.rd-nav-item{
		display: flex;
		justify-content: center;
		a{
			color: $nav-link-color;
		}
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		padding: 0 $spacing-unit 0 $spacing-unit;
		font-size: $font-size;
		width: calc(#{$min-width} + #{$font-size});
		height: 50px;
	}
}

/**Menu vertical só para mobile**/
.rd-nav-vertical{
	height: 0;
	width: 100%;
	overflow: hidden;
}

.rd-card-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	.rd-card-item{
		width: $card-width;
		height: $card-height;
		margin: calc(#{$spacing-unit} - 2px);
		font-size: calc(#{$font-size} - 4px);
		padding: 0;
		flex: 1 1 $card-width;
		display: flex;
		.rd-card-item-img{
			position: absolute;
			width: $card-width;
			height: $card-height;
		}
		.rd-card-item-desc{
			h3{
				padding-left: $spacing-unit;
			}
			opacity: 0;
			z-index: 1;
			position: absolute;
			width: $card-width;
			height: $card-height;
			h3,p{
				color: #fff;
			}
			@include transition(0.5s);
			&:hover{
				@include transition(0.5s);
				text-decoration: none;
				background: url('img/bg_pattern_4.png');
				opacity: 1;
			}
		}
	}
}

.rd-main-content{
	width: 100%;
	height: 100%;
	background-color: $background-color;
	display: flex;
	flex-direction: column;
	padding-top: calc(#{$spacing-unit} * 2);
	.rd-center-text{
		min-height: calc(#{$footer-height} * 5);
		max-width: calc(#{$footer-height} * 5);
		margin-right: auto;
		margin-left: auto;
	}
}
/**slide responsivo**/
.rd-slide{
	position: relative;
	z-index: 1;
	div{
		width: auto;
		height: auto;
		background: $header-color;
		position: absolute;
		z-index: 2;
		display: flex;
		flex-direction: column;
		img{
			position: absolute;
			z-index: 3;
		}
		div{
			width: auto;
			height: 100%;
			position: absolute;
			justify-content: center;
			text-align: justify;
			padding: 1px;
			z-index: 4;
		}
	}
	.slick-prev:before, .slick-next:before{
		color: $header-color;
	}
}

/**Layout Mobile**/
@media only screen and (max-width: 767px){
	.rd-main-content{
		height: auto;
		.rd-center-text{
			padding: 0;
		}
	}
	.rd-nav-horizontal{
		display: none;
	}
	.rd-nav-vertical{
		display: flex;
		flex-direction: column;
		align-items: center;
		.rd-nav-item{
			flex: 1;
			display: flex;
			justify-content: center;
			background: #d7d7d7;
			a{
				flex: 1;
				height: 50px;
				line-height: 50px;
				text-align: center;
			}
			width: 100%;
		}
	}
	
	.rd-header{
		justify-content: center;
		flex-wrap: no-wrap;
		#vert-menu-btn{
			display: block;
			img{
				width: 25px !important;
				height: 25px;
				margin: 0 5px;
			}
		}
	}
}