$text-color: #101010; //texto é mais escuro para maior contraste

$header-color: #d7d7d7 !default;
$background-color: #fff;
$footer-color: $header-color;
$nav-color: #fff !default;
$link-color: #1a0145 !default;
$nav-link-color: #000 !default;
$link-visited-color: darken($link-color, 20%);
$link-hover-color: lighten($link-color, 20%);
$card-item-bg: #1a014588;

//dimensões
$border-width: 1px !default;
$border-style: solid;
$border-color: darken($background-color, 10%);
$spacing-unit: 5px !default;
$min-width: 95px;
$font-size: 16px !default;
$footer-height: 100px;
$card-width: 200px;
$card-height: 200px;
$card-border-radius: 15px;

//dimensões do slider
$min-slider-width: 900px !default;
$min-slider-height: 400px !default;
$slider-index-size: 30px !default;
$slider-index-border-radius: 15px;

//transições
@mixin transition($s){
	-moz-trainsition: $s;
	transition: $s;
	-webkit-transition: $s;
}

/**
* Imports
*/

@import
	"_base",
	"_layout";