<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-1QBZ29C6N8"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'G-1QBZ29C6N8');
		</script>
		<title>{{site.title}}</title>
		<meta charset="utf-8"/>
		<!--Meta Tags SEO-->
		<meta name="description" content="Renan Duarte Web Developer Freelancer"/>
		<meta name="robots" content="index,nofollow"/>
		<meta http-equiv="refresh" content="300">
		<meta http-equiv="content-language" content="pt-br"/>
		<meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
		<meta name="creator" content="Renan Duarte"/>
		<meta name="publisher" content="Renan Duarte"/>
		<!--Fim meta tags SEO-->
		<link rel="stylesheet" href="{{ 'assets/styles.css' | relative_url }}"/>
		<!--slick theme-->
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
		<!--AdSense code-->
		<script data-ad-client="ca-pub-5838709534632829" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	</head>
	<body>
		{%include header.html%}
		<nav class="rd-nav-horizontal">
		{%for page in site.pages%}
		{%if page.permalink%}
			<span class="rd-nav-item">
				<a href="{{page.permalink}}">{{page.title}}</a>
			</span>
		{%endif%}
		{%endfor%}
		</nav>
		<nav class="rd-nav-vertical">
			{%for page in site.pages%}
			{%if page.permalink%}
			<span class="rd-nav-item">
				<a href="{{page.permalink}}">{{page.title}}</a>
			</span>
			{%endif%}
			{%endfor%}
		</nav>
		<main class="rd-main-content">
			{{content}}
		</main>
		{%include footer.html%}
		<script type="text/javascript" src="{{ 'assets/js/jquery-3.5.1.min.js' | relative_url}}"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.rd-slide').slick({
					infinite: true,
					autoplay: 5000,
					slidesToShow: 2,
					slidesToScroll: 1,
					dots: true,
					responsive: [
					{
						breakpoint: 720,
						settings: {
							slidesToShow: 1,
							slidesToShow: 1,
							infinite: true,
							dots: true
						}
					}
					]
				});
				$("#vert-menu-btn").click(function(){
					$('.rd-nav-vertical').toggle(
						function(){
							$('.rd-nav-vertical').css('height','0');
						},
						function(){
							$('.rd-nav-vertical').css('height','auto');
						}
					);
				});
			});
		</script>
	</body>
</html>
