<!DOCTYPE html>
<html>
	<head>
		<title>{{site.title}}</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}"/>
	</head>
	<body>
		{%include header.html%}
		<nav class="rd-nav-horizontal">
		{%for page in site.pages%}
			<span class="rd-nav-item">
				{%if page.permalink%}
				<a href="{{page.permalink}}">{{page.title}}</a>
				{%endif%}
			</span>
		{%endfor%}
		</nav>
		<main class="rd-main-content" style="background-image: url('{{page.imgbg}}')">
			{{content}}
		</main>
		{%include footer.html%}
	</body>
</html>
